<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <!-- testing now with a single recipe item -->
      <!-- databinding in a minute -->
      <a href="#" class="list-group-item clearfix">
        <div class="pull-left">
          <h4 class="list-group-item-heading">Recipe Name</h4>
          <p class="list-group-item-text">Description</p>
          <span class="pull-right">
            <img src="" alt="" class="img-responsive" style="max-height: 50px;">
          </span>
        </div>
      </a>
      <!-- loop over the list later-->
      <app-recipe-item></app-recipe-item>
  </div>
</div>
